---
import ArrowRightIcon from "@icons/ArrowRightIcon.astro"
---


<a 
  href="#" 
  class="flex flex-row gap-4 items-center px-4 py-2 bg-zinc-900 hover:bg-zinc-800 transition-all rounded-md"
>
  Únete Ahora!
  <ArrowRightIcon size="20px"/>
</a>
